In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1231,tt1980929,8000000,63464861,Begin Again,Mark Ruffalo|Keira Knightley|Adam Levine|Haile...,John Carney,You're only as strong as your next move.,Gretta's celebrity boyfriend breaks up with he...,104,Comedy|Music|Romance|Drama,Likely Story|Apatow Productions|Exclusive Medi...,9/7/2013,7.2,2013
1264,tt1661382,40000000,44907260,Grudge Match,Robert De Niro|Sylvester Stallone|Alan Arkin|J...,Peter Segal,DeNiro vs Stallone,A pair of aging boxing rivals are coaxed out o...,113,Comedy,Gerber Pictures|Warner Bros.,12/25/2013,6.0,2013
987,tt1649419,42000000,180274123,Lo imposible,Naomi Watts|Ewan McGregor|Tom Holland|Samuel J...,Juan Antonio Bayona,Nothing is more powerful than the human spirit.,"In December 2004, close-knit family Maria (Nao...",113,Drama,Summit Entertainment|Telecinco Cinema|Apaches ...,9/9/2012,6.8,2012
571,tt0228333,28000000,14010832,Ghosts of Mars,Natasha Henstridge|Ice Cube|Jason Statham|Clea...,John Carpenter,Terror is the same on any planet.,Melanie Ballard (Natasha Henstridge) is a hard...,98,Action|Horror|Science Fiction,Screen Gems|Storm King Productions|Animationwerks,8/24/2001,4.6,2001
392,tt0963966,150000000,215283742,The Sorcerer's Apprentice,Nicolas Cage|Jay Baruchel|Monica Bellucci|Alfr...,Jon Turteltaub,It's The Coolest Job Ever.,Balthazar Blake is a master sorcerer in modern...,109,Fantasy|Adventure|Action|Comedy|Drama,Walt Disney Pictures|Jerry Bruckheimer Films|S...,7/13/2010,5.8,2010

In [54]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [4]:
# к заданиям начиная с 6-го
data['profit'] = data.revenue - data.budget

In [6]:
data.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354

In [7]:
# для заданий, где нужны конкретные актёры
data_act = data
data_act['actors'] = data_act.cast.str.split('|')
data_act = data_act.explode('actors')

In [8]:
data_act.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,Chris Pratt
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,Bryce Dallas Howard

In [9]:
# для заданий, где нужны конкретные жанры
data_genr = data
data_genr['clear_genre'] = data_genr.genres.str.split('|')
data_genr = data_genr.explode('clear_genre')

In [11]:
data_genr.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Action
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Adventure

In [12]:
# для заданий, где нужны конкретные актёры и жанры
data_act_genr = data_act
data_act_genr['clear_genre'] = data_act_genr.genres.str.split('|')
data_act_genr = data_act_genr.explode('clear_genre')

In [14]:
data_act_genr.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,Chris Pratt,Action
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,Chris Pratt,Adventure

In [52]:
# для заданий, где нужны конкретный режиссер и жанр
data_dir_genr = data_genr
data_dir_genr['clear_dir'] = data_dir_genr.director.str.split('|')
data_dir_genr = data_dir_genr.explode('clear_dir')

In [56]:
data_dir_genr.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre,clear_dir
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Action,Colin Trevorrow
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Adventure,Colin Trevorrow
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Science Fiction,Colin Trevorrow
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Thriller,Colin Trevorrow
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",Action,George Miller

In [16]:
# для заданий, где нужны конкретные компании
data_comp = data
data_comp['company'] = data_comp.production_companies.str.split('|')
data_comp = data_comp.explode('company')

In [17]:
data_comp.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre,company
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...","[Action, Adventure, Science Fiction, Thriller]",Universal Studios
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...","[Action, Adventure, Science Fiction, Thriller]",Amblin Entertainment

In [18]:
# для заданий, где нужны конкретные месяцы
data_month = data
data_month['release_date'] = data_month.release_date.str.split('/')
data_month['month'] = data_month.release_date.apply(lambda x: x[0])

In [19]:
data_month.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre,company,month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,"[6, 9, 2015]",6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...","[Action, Adventure, Science Fiction, Thriller]","[Universal Studios, Amblin Entertainment, Lege...",6
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,"[5, 13, 2015]",7.1,2015,228436354,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...","[Action, Adventure, Science Fiction, Thriller]","[Village Roadshow Pictures, Kennedy Miller Pro...",5

In [94]:
# для заданий, где нужны конкретный режиссер и месяц
data_month_dir = data_month
data_month_dir['clear_dir'] = data_month_dir.director.str.split('|')
data_month_dir = data_month_dir.explode('clear_dir')

In [95]:
data_month_dir.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre,company,month,clear_dir
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,"[6, 9, 2015]",6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...","[Action, Adventure, Science Fiction, Thriller]","[Universal Studios, Amblin Entertainment, Lege...",6,Colin Trevorrow
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,"[5, 13, 2015]",7.1,2015,228436354,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...","[Action, Adventure, Science Fiction, Thriller]","[Village Roadshow Pictures, Kennedy Miller Pro...",5,George Miller

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [20]:
answers

{}

In [21]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"
#+

In [8]:
# тут пишем ваш код для решения данного вопроса:

ВАРИАНТ 2

In [22]:
data[data.budget==data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [10]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [24]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [23]:
# здесь детальные данные об актёрах не нужны и можно считать агрегированно
# поэтому используется data_1
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre,company,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,"[2, 21, 2003]",5.8,2003,-43076064,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...","[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2

# 3. Какой из фильмов самый короткий (в минутах)?

In [61]:
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Animation, Family]"

In [25]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [62]:
data.runtime.mean()

109.6585494970884

In [27]:
answers['4'] = 110

# 5. Каково медианное значение длительности фильмов?

In [63]:
data.runtime.median()

107.0

In [29]:
answers['5'] = 107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [64]:
data[data.profit==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Action, Adventure, Fantasy, Science Fiction]"

In [30]:
answers['6'] = 'Avatar (tt0499549)'

In [36]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478}

# 7. Какой фильм самый убыточный?

In [65]:
data[data.profit==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Johnny Depp, Armie Hammer, William Fichtner, ...","[Action, Adventure, Western]"

In [33]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [66]:
len(data[data.profit >0])

1478

In [35]:
answers['8'] = 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [67]:
films_2008 = data[(data.release_year==2008)]

In [68]:
films_2008[films_2008.revenue==films_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,"[Christian Bale, Michael Caine, Heath Ledger, ...","[Drama, Action, Crime, Thriller]"

In [37]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [41]:
films_12_14 = data[(data.release_year>=2012)&\
                   (data.release_year<=2014)]

In [42]:
films_12_14[films_12_14.profit==films_12_14.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre,company,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090,"[Johnny Depp, Armie Hammer, William Fichtner, ...","[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",7

In [39]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [40]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)'}

# 11. Какого жанра фильмов больше всего?

In [34]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [43]:
#1-й способ
data_genr.clear_genre.describe()

count      5107
unique       19
top       Drama
freq        782
Name: clear_genre, dtype: object

In [44]:
# 2-й способ
data_genr.clear_genre.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: clear_genre, dtype: int64

ВАРИАНТ 3

In [ ]:
'''В данном варианте сначала создаётся словарь c жанрами, 
    затем упорядочивается по значениям'''

In [75]:
# создаётся словарь
genr_dict = {}
for i in data_genr.clear_genre:
    if i in genr_dict:
        genr_dict[i]+=1
    else:
        genr_dict[i]=1

In [76]:
'''ниже из существующего словаря создаётся словарь, упорядоченный по значениям'''
sorted_values = sorted(genr_dict.values())
sorted_dict = {}

for i in sorted_values:
    for k in genr_dict.keys():
        if genr_dict[k]==i:
            sorted_dict[k] = genr_dict[k]
            break

In [77]:
# словарь, упорядоченный по значениям:
sorted_dict

{'Foreign': 2,
 'Documentary': 8,
 'Western': 19,
 'War': 58,
 'History': 62,
 'Music': 64,
 'Animation': 139,
 'Mystery': 168,
 'Horror': 176,
 'Fantasy': 222,
 'Science Fiction': 248,
 'Family': 260,
 'Romance': 308,
 'Crime': 315,
 'Adventure': 415,
 'Action': 582,
 'Thriller': 596,
 'Comedy': 683,
 'Drama': 782}

In [45]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [46]:
#детализированно:
data_genr[data_genr.profit>0].\
    clear_genre.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: clear_genre, dtype: int64

In [47]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [48]:
data.groupby('director')[['budget']].sum()\
        .sort_values('budget',ascending=False)

                            budget
director
Peter Jackson           1288000000
Ridley Scott            1220000000
Gore Verbinski          1155000000
Michael Bay             1126000000
Christopher Nolan       1005000000
...                            ...
Joel Zwick                 5000000
Andrew Erwin|Jon Erwin     5000000
Christopher B. Landon      5000000
James Cox                  5000000
Joel Edgerton              5000000

[957 rows x 1 columns]

In [49]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [63]:
# используется df с очищеными жанрами и режиссёрами

data_dir_genr[data_dir_genr.clear_genre.str.contains('Action')]\
        .clear_dir.value_counts()

Robert Rodriguez                    9
Michael Bay                         7
Paul W.S. Anderson                  7
Ridley Scott                        6
Antoine Fuqua                       6
                                   ..
Florian Henckel von Donnersmarck    1
Joe Russo                           1
Barry Levinson                      1
Mark Andrews                        1
Pitof                               1
Name: clear_dir, Length: 364, dtype: int64

In [61]:
answers['14'] = 'Robert Rodriguez'

In [62]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez'}

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

В заданиях 15-16 используется data_act с очищенными актёрами

In [83]:
# фильмы 2012:
data_act_2012 = data_act[data_act.release_year==2012]
# актёры и их выручка:
data_act_2012.groupby('actors')[['revenue']]\
    .sum().sort_values('revenue',ascending=False)

                      revenue
actors
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Michael Nyqvist       3428048
Danny Huston          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Nicolas Cage          2106557

[466 rows x 1 columns]

In [64]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [65]:
data_act[data_act.budget>data_act.budget.mean()]\
    .groupby('actors')[['imdb_id']].count()\
    .sort_values('imdb_id', ascending=False).head(15)

                   imdb_id
actors
Matt Damon              18
Adam Sandler            17
Angelina Jolie          16
Tom Cruise              15
Eddie Murphy            15
Samuel L. Jackson       15
Russell Crowe           14
Jamie Foxx              14
Mark Wahlberg           14
Ben Stiller             14
Hugh Jackman            14
Will Smith              13
Jude Law                13
Johnny Depp             13
Bruce Willis            13

In [66]:
# 2-й способ
data_act[data_act.budget>data_act.budget.mean()]\
    .actors.value_counts().head(15)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Eddie Murphy         15
Samuel L. Jackson    15
Jamie Foxx           14
Hugh Jackman         14
Mark Wahlberg        14
Russell Crowe        14
Ben Stiller          14
Jude Law             13
Johnny Depp          13
Will Smith           13
Bruce Willis         13
Name: actors, dtype: int64

In [73]:
answers['16'] = 'Matt Damon'

In [83]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

в задаче используется df c очищенными актёрами и жанрами data_act_genr

In [76]:
data_act_genr[data_act_genr.actors=='Nicolas Cage']\
    .clear_genre.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Horror              1
Romance             1
Name: clear_genre, dtype: int64

In [78]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
В этой и 20-й задаче используется df c очищенными студиями data_comp

In [107]:
data_comp_paramaunt = data_comp[data_comp.company=='Paramount Pictures']
data_comp_paramaunt[data_comp_paramaunt.profit==data_comp_paramaunt.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre,company
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...","[Thriller, Drama, History]",Paramount Pictures

In [79]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [80]:
data.groupby('release_year')[['revenue']].sum().sort_values('revenue', ascending = False)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

In [81]:
answers['19'] = 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [82]:
# Warner Bros записан по-разному, поэтому ищется вхождение слова Warn
data_comp[data_comp.company.str.contains('Warn')]\
    .groupby('release_year')[['profit']]\
    .sum().sort_values('profit', ascending = False)

                  profit
release_year
2014          2292949646
2007          2208217007
2008          2134595031
2010          1974712985
2011          1871393682
2003          1844008221
2009          1822454136
2013          1636453400
2004          1631933725
2005          1595278228
2001          1282142579
2012          1258020056
2002          1022709901
2015           870368348
2006           622332868
2000           452631386

In [84]:
answers['20'] = 2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

В задачах 21-23 используется df с месяцами data_month

In [91]:
data_month.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre,company,month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,"[6, 9, 2015]",6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...","[Action, Adventure, Science Fiction, Thriller]","[Universal Studios, Amblin Entertainment, Lege...",6
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,"[5, 13, 2015]",7.1,2015,228436354,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...","[Action, Adventure, Science Fiction, Thriller]","[Village Roadshow Pictures, Kennedy Miller Pro...",5

In [85]:
# 1-й способ
data_month.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [87]:
# 2-й способ
data_month.groupby('month').imdb_id.count().sort_values()

month
1     110
2     135
5     140
7     142
11    146
6     147
4     149
3     156
8     161
10    186
12    190
9     227
Name: imdb_id, dtype: int64

In [88]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [145]:
len(data_month.query('month in ["6", "7", "8"]'))

450

In [89]:
answers['22'] = 450

# 23. Для какого режиссера зима – самое продуктивное время года?

Используется df, где чистые режиссёры и месяцы

In [96]:
winter = data_month_dir.query('month in ["12","1", "2"]')
winter.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre,company,month,clear_dir
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,"[12, 15, 2015]",7.5,2015,1868178225,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...","[Action, Adventure, Science Fiction, Fantasy]","[Lucasfilm, Truenorth Productions, Bad Robot]",12,J.J. Abrams
5,tt1663202,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,"[12, 25, 2015]",7.2,2015,397950503,"[Leonardo DiCaprio, Tom Hardy, Will Poulter, D...","[Western, Drama, Adventure, Thriller]","[Regency Enterprises, Appian Way, CatchPlay, A...",12,Alejandro GonzÃ¡lez IÃ±Ã¡rritu
11,tt1617661,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,"[2, 4, 2015]",5.2,2015,7987720,"[Mila Kunis, Channing Tatum, Sean Bean, Eddie ...","[Science Fiction, Fantasy, Action, Adventure]","[Village Roadshow Pictures, Dune Entertainment...",2,Lana Wachowski
11,tt1617661,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,"[2, 4, 2015]",5.2,2015,7987720,"[Mila Kunis, Channing Tatum, Sean Bean, Eddie ...","[Science Fiction, Fantasy, Action, Adventure]","[Village Roadshow Pictures, Dune Entertainment...",2,Lilly Wachowski
12,tt0470752,15000000,36869414,Ex Machina,Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...,Alex Garland,There is nothing more human than the will to s...,"Caleb, a 26 year old coder at the world's larg...",108,Drama|Science Fiction,DNA Films|Universal Pictures International (UP...,"[1, 21, 2015]",7.6,2015,21869414,"[Domhnall Gleeson, Alicia Vikander, Oscar Isaa...","[Drama, Science Fiction]","[DNA Films, Universal Pictures International (...",1,Alex Garland

In [97]:
winter.groupby('clear_dir')[['original_title']].count().sort_values('original_title')

                       original_title
clear_dir
Jon Avnet                           1
Matthew Vaughn                      1
Matthew O'Callaghan                 1
Matt Reeves                         1
Matt Bettinelli-Olpin               1
...                               ...
Adam Shankman                       4
Martin Scorsese                     4
Clint Eastwood                      6
Steven Soderbergh                   6
Peter Jackson                       7

[358 rows x 1 columns]

In [98]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

В этой задаче и в 25 используется df data_comp, где перечислены конкретные компании

In [190]:
data_comp['f_length'] = data_comp.original_title.apply(lambda x: len(x))

In [196]:
data_comp.groupby('company')[['f_length']].max().sort_values('f_length')

                                        f_length
company
Ixtlan Productions                             2
Global Entertainment Group                     2
XM2 Productions                                2
Berlanti Productions                           3
Everest Entertainment                          3
...                                          ...
Jim Henson Company, The                       59
Walt Disney                                   62
Walden Media                                  62
Twentieth Century Fox Film Corporation        83
Four By Two Productions                       83

[1771 rows x 1 columns]

In [101]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [107]:
data_comp['overview_length'] = data_comp.overview.apply(lambda x: len(x))

In [108]:
data_comp.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,actors,clear_genre,company,overview_length
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...","[Action, Adventure, Science Fiction, Thriller]",Universal Studios,175
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...","[Action, Adventure, Science Fiction, Thriller]",Amblin Entertainment,175

In [109]:
data_comp.groupby('company')[['overview_length']]\
    .mean().sort_values('overview_length')

                                       overview_length
company
Motion Picture Corporation of America             59.0
Empire Pictures                                   62.0
Phantom Four                                      72.0
London Boulevard                                  74.0
Projection Pictures                               74.0
...                                                ...
Crest Animation Productions                      909.0
Lions Gate Family Entertainment                  909.0
Brookwell-McNamara Entertainment                 936.0
Room 9 Entertainment                             964.0
Midnight Picture Show                           1000.0

[1771 rows x 1 columns]

In [110]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [112]:
# функция quantile ниже вычисляет 99-й квантиль
border = np.quantile(data.vote_average, 0.99)
border

7.8

In [113]:
last_quartile = data[data.vote_average>=border].original_title

In [114]:
last_quartile

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

In [116]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [129]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [125]:
data=pd.read_csv('movie_bd_v5.csv')
data['cast'] = data.cast.apply(lambda x:x.split('|'))

''' Функция combinations() модуля itertools (используется ниже) 
    возвращает итератор со всеми возможными комбинациями 
    элементов входной последовательности'''

data['comb'] = data.cast.apply(lambda x: list(combinations(x,2)))

In [126]:
# в столбце comb - списки, содержащие комбинации актёров по 2
data.comb

0       [(Chris Pratt, Bryce Dallas Howard), (Chris Pr...
1       [(Tom Hardy, Charlize Theron), (Tom Hardy, Hug...
2       [(Shailene Woodley, Theo James), (Shailene Woo...
3       [(Harrison Ford, Mark Hamill), (Harrison Ford,...
4       [(Vin Diesel, Paul Walker), (Vin Diesel, Jason...
                              ...
1884    [(Patrick Stewart, Hugh Jackman), (Patrick Ste...
1885    [(Richard E. Grant, Jonathan Lipnicki), (Richa...
1886    [(Rene Russo, Jason Alexander), (Rene Russo, P...
1887    [(Meg Ryan, Diane Keaton), (Meg Ryan, Lisa Kud...
1888    [(Susan Ward, Lori Heuring), (Susan Ward, Matt...
Name: comb, Length: 1889, dtype: object

In [ ]:
# разделение по элементам списка
data = data.explode('comb')

In [128]:
data.comb

0       (Chris Pratt, Bryce Dallas Howard)
0               (Chris Pratt, Irrfan Khan)
0         (Chris Pratt, Vincent D'Onofrio)
0             (Chris Pratt, Nick Robinson)
0       (Bryce Dallas Howard, Irrfan Khan)
                       ...
1888         (Lori Heuring, Nathan Bexton)
1888           (Lori Heuring, Tess Harper)
1888       (Matthew Settle, Nathan Bexton)
1888         (Matthew Settle, Tess Harper)
1888          (Nathan Bexton, Tess Harper)
Name: comb, Length: 18869, dtype: object

In [122]:
''' Метод most_common класса Counter- 
    возвращает список из n наиболее распространенных элементов 
    и их количество от наиболее распространенных до наименее'''
Counter(data.comb).most_common()

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5),
 (('Robert Pattinson', 'Taylor Lautner'), 5),
 (('Jennifer Lawrence', 'Josh Hutcherson'), 4),
 (('Jennifer Lawrence', 'Liam Hemsworth'), 4),
 (('Jennifer Lawrence', 'Woody Harrelson'), 4),
 (('Josh Hutcherson', 'Liam Hemsworth'), 4),
 (('Josh Hutcherson', 'Woody Harrelson'), 4),
 (('Liam Hemsworth', 'Woody Harrelson'), 4),
 (('Tobin Bell', 'Costas Mandylor'), 4),
 (('Tobin Bell', 'Betsy Russell'), 4),
 (('Costas Mandylor', 'Betsy Russell'), 4),
 (('Vin Diesel', 'Jordana Brewster'), 4),
 (('Paul Walker', 'Jordana Brewster'), 4),
 (('Mike Myers', 'Eddie Murphy'), 4),
 (('Mike Myers', 'Cameron Diaz'), 4),
 (('Eddie Murphy', 'Cameron Diaz'), 4),
 (('Kristen Stewart', 'Peter Facinelli'), 4),
 (('Robert Pattinson', 'Peter Facinelli'), 4),
 (('Taylor Lautner', 'Peter Facinelli'), 4),
 (('George Clooney', 'Brad Pitt'), 4),
 (('Hugh Jackman', 'Halle Berry'), 4),
 (('Christian Bale', 'Michael Caine'), 4),
 (('Vin Diesel', 'Paul Walker'), 3),
 (('Vin Diesel', 'Michelle Rodriguez'), 3),
 (('Vin Diesel', 'Dwayne Johnson'), 3),
 (('Paul Walker', 'Michelle Rodriguez'), 3),
 (('Paul Walker', 'Dwayne Johnson'), 3),
 (('Robert Downey Jr.', 'Mark Ruffalo'), 3),
 (('Robert Downey Jr.', 'Scarlett Johansson'), 3),
 (('Chris Evans', 'Scarlett Johansson'), 3),
 (('Liam Neeson', 'Maggie Grace'), 3),
 (('Liam Neeson', 'Famke Janssen'), 3),
 (('Jennifer Lawrence', 'Elizabeth Banks'), 3),
 (('Josh Hutcherson', 'Elizabeth Banks'), 3),
 (('Liam Hemsworth', 'Elizabeth Banks'), 3),
 (('Woody Harrelson', 'Elizabeth Banks'), 3),
 (('Tom Cruise', 'Ving Rhames'), 3),
 (('Mark Wahlberg', 'Giovanni Ribisi'), 3),
 (('Johnny Depp', 'Paul Bettany'), 3),
 (('Adam Sandler', 'Steve Buscemi'), 3),
 (('Martin Freeman', 'Richard Armitage'), 3),
 (('Ian McKellen', 'Richard Armitage'), 3),
 (('Ben Stiller', 'Robin Williams'), 3),
 (('Patrick Stewart', 'Ian McKellen'), 3),
 (('Sylvester Stallone', 'Jason Statham'), 3),
 (('Sylvester Stallone', 'Arnold Schwarzenegger'), 3),
 (('Russell Crowe', 'Jennifer Connelly'), 3),
 (('Bradley Cooper', 'Ed Helms'), 3),
 (('Bradley Cooper', 'Zach Galifianakis'), 3),
 (('Bradley Cooper', 'Justin Bartha'), 3),
 (('Ed Helms', 'Zach Galifianakis'), 3),
 (('Ed Helms', 'Justin Bartha'), 3),
 (('Zach Galifianakis', 'Justin Bartha'), 3),
 (('Kristen Stewart', 'Ashley Greene'), 3),
 (('Robert Pattinson', 'Ashley Greene'), 3),
 (('Taylor Lautner', 'Ashley Greene'), 3),
 (('Bradley Cooper', 'Ken Jeong'), 3),
 (('David Cross', 'Justin Long'), 3),
 (('Jason Lee', 'Justin Long'), 3),
 (('Paul Rudd', 'Jason Segel'), 3),
 (('Shia LaBeouf', 'Josh Duhamel'), 3),
 (('Robert Downey Jr.', 'Gwyneth Paltrow'), 3),
 (('Daniel Radcliffe', 'Ralph Fiennes'), 3),
 (('Emma Watson', 'Ralph Fiennes'), 3),
 (('Rupert Grint', 'Ralph Fiennes'), 3),
 (('Skandar Keynes', 'Georgie Henley'), 3),
 (('Mike Myers', 'Antonio Banderas'), 3),
 (('Mike Myers', 'Julie Andrews'), 3),
 (('Eddie Murphy', 'Antonio Banderas'), 3),
 (('Eddie Murphy', 'Julie Andrews'), 3),
 (('Cameron Diaz', 'Antonio Banderas'), 3),
 (('Cameron Diaz', 'Julie Andrews'), 3),
 (('Steve Carell', 'Paul Rudd'), 3),
 (('Elijah Wood', 'Ian McKellen'), 3),
 (('Elijah Wood', 'Viggo Mortensen'), 3),
 (('Elijah Wood', 'Liv Tyler'), 3),
 (('Elijah Wood', 'Orlando Bloom'), 3),
 (('Ian McKellen', 'Viggo Mortensen'), 3),
 (('Ian McKellen', 'Liv Tyler'), 3),
 (('Ian McKellen', 'Orlando Bloom'), 3),
 (('Viggo Mortensen', 'Liv Tyler'), 3),
 (('Viggo Mortensen', 'Orlando Bloom'), 3),
 (('Liv Tyler', 'Orlando Bloom'), 3),
 (('George Clooney', 'Matt Damon'), 3),
 (('Brad Pitt', 'Julia Roberts'), 3),
 (('Jason Biggs', 'Thomas Ian Nicholas'), 3),
 (('Jason Biggs', 'Seann William Scott'), 3),
 (('Alexa PenaVega', 'Daryl Sabara'), 3),
 (('Antonio Banderas', 'Carla Gugino'), 3),
 (('Christian Bale', 'Gary Oldman'), 3),
 (('Michael Caine', 'Gary Oldman'), 3),
 (('Daniel Craig', 'Judi Dench'), 3),
 (('Jack Black', 'Angelina Jolie'), 3),
 (('Ben Stiller', 'David Schwimmer'), 3),
 (('Ben Stiller', 'Chris Rock'), 3),
 (('Ron Perlman', 'John Hurt'), 3),
 (('Hayden Christensen', 'Samuel L. Jackson'), 3),
 (('Jason Statham', 'FranÃ§ois BerlÃ©and'), 3),
 (('John Cho', 'Kal Penn'), 3),
 (('Johnny Depp', 'Geoffrey Rush'), 3),
 (('Johnny Depp', 'Bill Nighy'), 3),
 (('Ray Romano', 'Denis Leary'), 3),
 (('John Leguizamo', 'Denis Leary'), 3),
 (('Tobey Maguire', 'Kirsten Dunst'), 3),
 (('Tobey Maguire', 'James Franco'), 3),
 (('Kirsten Dunst', 'James Franco'), 3),
 (('Tim Allen', 'Spencer Breslin'), 3),
 (('Denzel Washington', 'Kimberly Elise'), 3),
 (('Ice Cube', 'Mike Epps'), 3),
 (('Johnny Depp', 'Orlando Bloom'), 3),
 (('Johnny Depp', 'Keira Knightley'), 3),
 (('Orlando Bloom', 'Keira Knightley'), 3),
 (('Patrick Stewart', 'Famke Janssen'), 3),
 (('Hugh Jackman', 'Famke Janssen'), 3),
 (('Ian McKellen', 'Famke Janssen'), 3),
 (('Halle Berry', 'Famke Janssen'), 3),
 (('Owen Wilson', 'Vince Vaughn'), 3),
 (('Bruce Willis', 'Kevin Pollak'), 3),
 (('Shailene Woodley', 'Theo James'), 2),
 (('Shailene Woodley', 'Kate Winslet'), 2),
 (('Shailene Woodley', 'Ansel Elgort'), 2),
 (('Shailene Woodley', 'Miles Teller'), 2),
 (('Theo James', 'Kate Winslet'), 2),
 (('Theo James', 'Miles Teller'), 2),
 (('Kate Winslet', 'Miles Teller'), 2),
 (('Leonardo DiCaprio', 'Tom Hardy'), 2),
 (('Daniel Craig', 'Ralph Fiennes'), 2),
 (('Robert Downey Jr.', 'Chris Hemsworth'), 2),
 (('Robert Downey Jr.', 'Chris Evans'), 2),
 (('Chris Hemsworth', 'Scarlett Johansson'), 2),
 (('Mark Ruffalo', 'Scarlett Johansson'), 2),
 (('Maggie Grace', 'Famke Janssen'), 2),
 (('Dwayne Johnson', 'Carla Gugino'), 2),
 (('Christian Bale', 'Melissa Leo'), 2),
 (('Steve Carell', 'Ryan Gosling'), 2),
 (('Tom Cruise', 'Jeremy Renner'), 2),
 (('Tom Cruise', 'Simon Pegg'), 2),
 (('Jeremy Renner', 'Simon Pegg'), 2),
 (('Mark Wahlberg', 'Seth MacFarlane'), 2),
 (('Seth MacFarlane', 'Giovanni Ribisi'), 2),
 (("Dylan O'Brien", 'Kaya Scodelario'), 2),
 (('Anna Kendrick', 'Rebel Wilson'), 2),
 (('Anna Kendrick', 'Brittany Snow'), 2),
 (('Anna Kendrick', 'Skylar Astin'), 2),
 (('Liam Neeson', 'Boyd Holbrook'), 2),
 (('Edgar RamÃ\xadrez', 'Delroy Lindo'), 2),
 (('Bradley Cooper', 'Sienna Miller'), 2),
 (('Miles Teller', 'Michael B. Jordan'), 2),
 (('Rose Byrne', 'Bobby Cannavale'), 2),
 (('Hugh Jackman', 'Amanda Seyfried'), 2),
 (('Joseph Gordon-Levitt', 'Seth Rogen'), 2),
 (('Seth Rogen', 'Lizzy Caplan'), 2),
 (('Adam Sandler', 'Andy Samberg'), 2),
 (('Adam Sandler', 'Selena Gomez'), 2),
 (('Will Ferrell', 'Mark Wahlberg'), 2),
 (('Kevin James', 'Raini Rodriguez'), 2),
 (('Tina Fey', 'Amy Poehler'), 2),
 (('Tom Kenny', 'Bill Fagerbakke'), 2),
 (('Tom Kenny', 'Rodger Bumpass'), 2),
 (('Tom Kenny', 'Clancy Brown'), 2),
 (('Tom Kenny', 'Carolyn Lawrence'), 2),
 (('Bill Fagerbakke', 'Carolyn Lawrence'), 2),
 (('Rodger Bumpass', 'Carolyn Lawrence'), 2),
 (('Clancy Brown', 'Carolyn Lawrence'), 2),
 (('Chris Evans', 'Sebastian Stan'), 2),
 (('Scarlett Johansson', 'Samuel L. Jackson'), 2),
 (('Martin Freeman', 'Ian McKellen'), 2),
 (('Martin Freeman', 'Ken Stott'), 2),
 (('Martin Freeman', 'Graham McTavish'), 2),
 (('Ian McKellen', 'Ken Stott'), 2),
 (('Ian McKellen', 'Graham McTavish'), 2),
 (('Richard Armitage', 'Ken Stott'), 2),
 (('Richard Armitage', 'Graham McTavish'), 2),
 (('Ken Stott', 'Graham McTavish'), 2),
 (('Hugh Jackman', 'Patrick Stewart'), 2),
 (('James McAvoy', 'Patrick Stewart'), 2),
 (('James McAvoy', 'Michael Fassbender'), 2),
 (('Megan Fox', 'Will Arnett'), 2),
 (('Mark Wahlberg', 'Stanley Tucci'), 2),
 (('Jason Bateman', 'Jason Sudeikis'), 2),
 (('Jason Bateman', 'Charlie Day'), 2),
 (('Jason Bateman', 'Jennifer Aniston'), 2),
 (('Andrew Garfield', 'Emma Stone'), 2),
 (('James Franco', 'Seth Rogen'), 2),
 (('James Franco', 'Lizzy Caplan'), 2),
 (('Jay Baruchel', 'Gerard Butler'), 2),
 (('Jay Baruchel', 'Jonah Hill'), 2),
 (('Gerard Butler', 'Jonah Hill'), 2),
 (('Jason Statham', 'Arnold Schwarzenegger'), 2),
 (('Meryl Streep', 'Emily Blunt'), 2),
 (('Lena Headey', 'David Wenham'), 2),
 (('Jonah Hill', 'Dave Franco'), 2),
 (('Channing Tatum', 'Dave Franco'), 2),
 (('Ben Whishaw', 'Michael Gambon'), 2),
 (('Russell Crowe', 'Logan Lerman'), 2),
 (('Zac Efron', 'Dave Franco'), 2),
 (('Ryan Guzman', 'Stephen Boss'), 2),
 (('Joaquin Phoenix', 'Reese Witherspoon'), 2),
 (('Jessica Alba', 'Josh Brolin'), 2),
 (('Jessica Alba', 'Rosario Dawson'), 2),
 (('Jesse Eisenberg', 'Anne Hathaway'), 2),
 (('Jesse Eisenberg', 'Leslie Mann'), 2),
 (('Anne Hathaway', 'Leslie Mann'), 2),
 (('George Clooney', 'Bill Murray'), 2),
 (('George Clooney', 'John Goodman'), 2),
 (('Kit Harington', 'Carrie-Anne Moss'), 2),
 (('Channing Tatum', 'Sienna Miller'), 2),
 (('Zac Efron', 'Imogen Poots'), 2),
 (('Michael Ealy', 'Regina Hall'), 2),
 (('Morgan Freeman', 'Ashley Judd'), 2),
 (('Morgan Freeman', 'Nathan Gamble'), 2),
 (('Morgan Freeman', 'Harry Connick Jr.'), 2),
 (('Ashley Judd', 'Nathan Gamble'), 2),
 (('Ashley Judd', 'Harry Connick Jr.'), 2),
 (('Michael Sheen', 'Shane Brolly'), 2),
 (('Chris Pine', 'Zachary Quinto'), 2),
 (('Robert Downey Jr.', 'Jude Law'), 2),
 (('John Cusack', 'Amanda Peet'), 2),
 (('Jennifer Connelly', 'Christopher Plummer'), 2),
 (('Jesse Eisenberg', 'Woody Harrelson'), 2),
 (('Kristen Stewart', 'Billy Burke'), 2),
 (('Robert Pattinson', 'Billy Burke'), 2),
 (('Bill Hader', 'Anna Faris'), 2),
 (('Bill Hader', 'James Caan'), 2),
 (('Anna Faris', 'James Caan'), 2),
 (('Susan Sarandon', 'Stanley Tucci'), 2),
 (('Jason Statham', 'Amy Smart'), 2),
 (('Jason Statham', 'Dwight Yoakam'), 2),
 (('Jason Statham', 'Efren Ramirez'), 2),
 (('Amy Smart', 'Dwight Yoakam'), 2),
 (('Amy Smart', 'Efren Ramirez'), 2),
 (('Vince Vaughn', 'Jon Favreau'), 2),
 (('Jason Bateman', 'Jon Favreau'), 2),
 (('Charlize Theron', 'Guy Pearce'), 2),
 (('Seth Rogen', 'Paul Rudd'), 2),
 (('Reese Witherspoon', 'Paul Rudd'), 2),
 (('Meryl Streep', 'Stanley Tucci'), 2),
 (('Johnny Depp', 'Giovanni Ribisi'), 2),
 (('Billy Crudup', 'Marion Cotillard'), 2),
 (('Matt Damon', 'Scott Bakula'), 2),
 (('Tobin Bell', 'Mark Rolston'), 2),
 (('Costas Mandylor', 'Mark Rolston'), 2),
 (('Betsy Russell', 'Mark Rolston'), 2),
 (('Shia LaBeouf', 'Megan Fox'), 2),
 (('Shia LaBeouf', 'Tyrese Gibson'), 2),
 (('Megan Fox', 'Tyrese Gibson'), 2),
 (('Josh Duhamel', 'Tyrese Gibson'), 2),
 (('Jeff Bridges', 'Kevin Spacey'), 2),
 (('Dwayne Johnson', 'Seann William Scott'), 2),
 (('Nicolas Cage', 'Eva Mendes'), 2),
 (('Seth Rogen', 'Leslie Mann'), 2),
 (('Naomi Watts', 'Armin Mueller-Stahl'), 2),
 (('Clive Owen', 'Paul Giamatti'), 2),
 (('Julia Roberts', 'Paul Giamatti'), 2),
 (('Jason Bateman', 'Kristen Wiig'), 2),
 (('Robert Downey Jr.', 'Jamie Foxx'), 2),
 (('Michael Caine', 'Emily Mortimer'), 2),
 (('Danny Huston', 'Lynn Collins'), 2),
 (('Robert Downey Jr.', 'Don Cheadle'), 2),
 (('Gwyneth Paltrow', 'Don Cheadle'), 2),
 (('Steve Carell', 'Russell Brand'), 2),
 (('Steve Carell', 'Will Arnett'), 2),
 (('Jason Segel', 'Russell Brand'), 2),
 (('Sylvester Stallone', 'Dolph Lundgren'), 2),
 (('Jason Statham', 'Dolph Lundgren'), 2),
 (('Russell Crowe', 'Mark Strong'), 2),
 (('Sam Worthington', 'Liam Neeson'), 2),
 (('Sam Worthington', 'Ralph Fiennes'), 2),
 (('Liam Neeson', 'Ralph Fiennes'), 2),
 (('Robert De Niro', 'Owen Wilson'), 2),
 (('Robert De Niro', 'Dustin Hoffman'), 2),
 (('Robert De Niro', 'Barbra Streisand'), 2),
 (('Ben Stiller', 'Dustin Hoffman'), 2),
 (('Ben Stiller', 'Barbra Streisand'), 2),
 (('Dustin Hoffman', 'Barbra Streisand'), 2),
 (('Logan Lerman', 'Brandon T. Jackson'), 2),
 (('Logan Lerman', 'Alexandra Daddario'), 2),
 (('Channing Tatum', 'Richard Jenkins'), 2),
 (('Danny Trejo', 'Michelle Rodriguez'), 2),
 (('Adam Sandler', 'Salma Hayek'), 2),
 (('Ashley Greene', 'Peter Facinelli'), 2),
 (('Brad Pitt', 'Jonah Hill'), 2),
 (('Mark Wahlberg', 'Dwayne Johnson'), 2),
 (('Helena Bonham Carter', 'Timothy Spall'), 2),
 (('Jake Gyllenhaal', 'Anne Hathaway'), 2),
 (('Tom Cruise', 'Cameron Diaz'), 2),
 (('Matt Damon', 'Greg Kinnear'), 2),
 (('Emily Blunt', 'Jason Segel'), 2),
 (('Jack Black', 'Amanda Peet'), 2),
 (('Christian Bale', 'Amy Adams'), 2),
 (('Katherine Heigl', 'Ashton Kutcher'), 2),
 (('Sarah Jessica Parker', 'Kristin Davis'), 2),
 (('Sarah Jessica Parker', 'Cynthia Nixon'), 2),
 (('Sarah Jessica Parker', 'Kim Cattrall'), 2),
 (('Sarah Jessica Parker', 'Chris Noth'), 2),
 (('Kristin Davis', 'Chris Noth'), 2),
 (('Cynthia Nixon', 'Chris Noth'), 2),
 (('Kim Cattrall', 'Chris Noth'), 2),
 (('Robert De Niro', 'Edward Norton'), 2),
 (('Zachary Gordon', 'Robert Capron'), 2),
 (('Zachary Gordon', 'Steve Zahn'), 2),
 (('Zachary Gordon', 'Rachael Harris'), 2),
 (('Robert Capron', 'Steve Zahn'), 2),
 (('Steve Zahn', 'Rachael Harris'), 2),
 (('Kristen Wiig', 'Maya Rudolph'), 2),
 (('Tyler Perry', 'Janet Jackson'), 2),
 (('Tyler Perry', 'Jill Scott'), 2),
 (('Tyler Perry', 'Malik Yoba'), 2),
 (('Janet Jackson', 'Malik Yoba'), 2),
 (('Jill Scott', 'Malik Yoba'), 2),
 (('Milla Jovovich', 'Ali Larter'), 2),
 (('John Goodman', 'Steve Buscemi'), 2),
 (('Billy Crystal', 'Steve Buscemi'), 2),
 (('RenÃ©e Zellweger', 'Colin Firth'), 2),
 (('RenÃ©e Zellweger', 'Hugh Grant'), 2),
 (('RenÃ©e Zellweger', 'Gemma Jones'), 2),
 (('RenÃ©e Zellweger', 'Jim Broadbent'), 2),
 (('Colin Firth', 'Gemma Jones'), 2),
 (('Colin Firth', 'Jim Broadbent'), 2),
 (('Hugh Grant', 'Gemma Jones'), 2),
 (('Hugh Grant', 'Jim Broadbent'), 2),
 (('George Clooney', 'Andy GarcÃ\xada'), 2),
 (('George Clooney', 'Julia Roberts'), 2),
 (('Brad Pitt', 'Matt Damon'), 2),
 (('Brad Pitt', 'Andy GarcÃ\xada'), 2),
 (('Brendan Fraser', 'John Hannah'), 2),
 (('Angelina Jolie', 'Noah Taylor'), 2),
 (('Russell Crowe', 'Paul Bettany'), 2),
 (('Jason Biggs', 'Chris Klein'), 2),
 (('Jason Biggs', 'Eddie Kaye Thomas'), 2),
 (('Seann William Scott', 'Eddie Kaye Thomas'), 2),
 (('Anne Hathaway', 'Julie Andrews'), 2),
 (('Anne Hathaway', 'Heather Matarazzo'), 2),
 (('Anne Hathaway', 'HÃ©ctor Elizondo'), 2),
 (('Julie Andrews', 'Heather Matarazzo'), 2),
 (('Julie Andrews', 'HÃ©ctor Elizondo'), 2),
 (('Ewan McGregor', 'Jim Broadbent'), 2),
 (('Johnny Depp', 'PenÃ©lope Cruz'), 2),
 (('Jude Law', 'Rachel Weisz'), 2),
 (('Heath Ledger', 'Shannyn Sossamon'), 2),
 (('Marlon Wayans', 'Shawn Wayans'), 2),
 (('Chris Tucker', 'Jackie Chan'), 2),
 (('Seth Green', 'Breckin Meyer'), 2),
 (('Breckin Meyer', 'Amy Smart'), 2),
 (('Brad Pitt', 'James Gandolfini'), 2),
 (('Anthony Hopkins', 'Hope Davis'), 2),
 (('Robert De Niro', 'Charlize Theron'), 2),
 (('DMX', 'Anthony Anderson'), 2),
 (('Mike Epps', 'Anna Maria Horsford'), 2),
 (('Jason Biggs', 'Amanda Detmer'), 2),
 (('Paul Walker', 'Vin Diesel'), 2),
 (('John Travolta', 'Vince Vaughn'), 2),
 (('Freddie Prinze Jr.', 'Matthew Lillard'), 2),
 (('Cary Elwes', 'Joanna Lumley'), 2),
 (('Jack Black', 'Dustin Hoffman'), 2),
 (('Jack Black', 'Jackie Chan'), 2),
 (('Dustin Hoffman', 'Jackie Chan'), 2),
 (('Angelina Jolie', 'Jackie Chan'), 2),
 (('Colin Firth', 'Stellan SkarsgÃ¥rd'), 2),
 (('Ben Stiller', 'Jada Pinkett Smith'), 2),
 (('David Schwimmer', 'Chris Rock'), 2),
 (('Ron Perlman', 'Selma Blair'), 2),
 (('Ron Perlman', 'Jeffrey Tambor'), 2),
 (('Selma Blair', 'Jeffrey Tambor'), 2),
 (('Selma Blair', 'John Hurt'), 2),
 (('William Moseley', 'Anna Popplewell'), 2),
 (('William Moseley', 'Skandar Keynes'), 2),
 (('William Moseley', 'Georgie Henley'), 2),
 (('Anna Popplewell', 'Skandar Keynes'), 2),
 (('Anna Popplewell', 'Georgie Henley'), 2),
 (('Hugh Jackman', 'David Wenham'), 2),
 (('George Clooney', 'Tilda Swinton'), 2),
 (('George Clooney', 'Richard Jenkins'), 2),
 (('Will Ferrell', 'John C. Reilly'), 2),
 (('Will Ferrell', 'Mary Steenburgen'), 2),
 (('Seth Rogen', 'Danny McBride'), 2),
 (('James Franco', 'Danny McBride'), 2),
 (('Mark Wahlberg', 'Mila Kunis'), 2),
 (('Paul Rudd', 'Elizabeth Banks'), 2),
 (('Angelina Jolie', 'John Malkovich'), 2),
 (('John Cho', 'Neil Patrick Harris'), 2),
 (('Kal Penn', 'Neil Patrick Harris'), 2),
 (('Tobin Bell', 'Scott Patterson'), 2),
 (('Scott Patterson', 'Betsy Russell'), 2),
 (('Javier Bardem', 'PenÃ©lope Cruz'), 2),
 (('Steve Carell', 'Seth Rogen'), 2),
 (('Robert De Niro', 'Carla Gugino'), 2),
 (('Adam Sandler', 'John Turturro'), 2),
 (('Sean Penn', 'Josh Brolin'), 2),
 (('Cheryl Hines', 'Jeff Daniels'), 2),
 (('Bruce Willis', 'Robin Wright'), 2),
 (('Chris Hemsworth', 'Natalie Portman'), 2),
 (('Chris Hemsworth', 'Tom Hiddleston'), 2),
 (('Chris Hemsworth', 'Anthony Hopkins'), 2),
 (('Natalie Portman', 'Tom Hiddleston'), 2),
 (('Natalie Portman', 'Anthony Hopkins'), 2),
 (('Tom Hiddleston', 'Anthony Hopkins'), 2),
 (('Ryan Gosling', 'Emma Stone'), 2),
 (('Ryan Gosling', 'Marisa Tomei'), 2),
 (('Bradley Cooper', 'Robert De Niro'), 2),
 (('Ed Helms', 'Ken Jeong'), 2),
 (('Zach Galifianakis', 'Ken Jeong'), 2),
 (('Justin Bartha', 'Ken Jeong'), 2),
 (('Asa Butterfield', 'Ben Kingsley'), 2),
 (('Matthew McConaughey', 'William H. Macy'), 2),
 (('Jim Cummings', 'Bud Luckey'), 2),
 (('Jim Cummings', 'Craig Ferguson'), 2),
 (('Tom Hanks', 'Julia Roberts'), 2),
 (('Antonio Banderas', 'Salma Hayek'), 2),
 (('Kate Winslet', 'Jude Law'), 2),
 (('Robert De Niro', 'Katherine Heigl'), 2),
 (('Robin Williams', 'Johnny A. Sanchez'), 2),
 (('David Arquette', 'Neve Campbell'), 2),
 (('David Arquette', 'Courteney Cox'), 2),
 (('Neve Campbell', 'Courteney Cox'), 2),
 (('Devon Bostick', 'Rachael Harris'), 2),
 (('Devon Bostick', 'Steve Zahn'), 2),
 (('Jason Lee', 'David Cross'), 2),
 (('Neil Patrick Harris', 'Hank Azaria'), 2),
 (('Cate Blanchett', 'Tom Hollander'), 2),
 (('James McAvoy', 'Maggie Smith'), 2),
 (('James McAvoy', 'Julie Walters'), 2),
 (('Philip Seymour Hoffman', 'Marisa Tomei'), 2),
 (('Katie Featherston', 'Sprague Grayden'), 2),
 (('Viggo Mortensen', 'Vincent Cassel'), 2),
 (('Paul Walker', 'Tyrese Gibson'), 2),
 (('Dwayne Johnson', 'Jordana Brewster'), 2),
 (('Ray Romano', 'John Leguizamo'), 2),
 (('Matt Damon', 'Franka Potente'), 2),
 (('Matt Damon', 'Chris Cooper'), 2),
 (('Matt Damon', 'Brian Cox'), 2),
 (('Franka Potente', 'Brian Cox'), 2),
 (('Milla Jovovich', 'Michelle Rodriguez'), 2),
 (('Ewan McGregor', 'Natalie Portman'), 2),
 (('Ewan McGregor', 'Hayden Christensen'), 2),
 (('Ewan McGregor', 'Ian McDiarmid'), 2),
 (('Ewan McGregor', 'Samuel L. Jackson'), 2),
 (('Natalie Portman', 'Hayden Christensen'), 2),
 (('Natalie Portman', 'Ian McDiarmid'), 2),
 (('Natalie Portman', 'Samuel L. Jackson'), 2),
 (('Hayden Christensen', 'Ian McDiarmid'), 2),
 (('Ian McDiarmid', 'Samuel L. Jackson'), 2),
 (('Leonardo DiCaprio', 'Martin Sheen'), 2),
 (('Tom Hanks', 'Amy Adams'), 2),
 (('Adrien Brody', 'Thomas Kretschmann'), 2),
 (('Jennifer Lopez', 'Stanley Tucci'), 2),
 (('Wesley Snipes', 'Kris Kristofferson'), 2),
 (('Johnny Knoxville', 'Bam Margera'), 2),
 (('Johnny Knoxville', 'Steve-O'), 2),
 (('Johnny Knoxville', 'Chris Pontius'), 2),
 (('Bam Margera', 'Steve-O'), 2),
 (('Bam Margera', 'Chris Pontius'), 2),
 (('Steve-O', 'Chris Pontius'), 2),
 (('Meryl Streep', 'Chris Cooper'), 2),
 (('Ice Cube', 'Cedric the Entertainer'), 2),
 (('Ice Cube', 'Sean Patrick Thomas'), 2),
 (('Cedric the Entertainer', 'Sean Patrick Thomas'), 2),
 (('Antonio Banderas', 'Alexa PenaVega'), 2),
 (('Antonio Banderas', 'Daryl Sabara'), 2),
 (('Carla Gugino', 'Alexa PenaVega'), 2),
 (('Carla Gugino', 'Daryl Sabara'), 2),
 (('Ice Cube', 'John Witherspoon'), 2),
 (('Ice Cube', 'Don Curry'), 2),
 (('Mike Epps', 'John Witherspoon'), 2),
 (('Mike Epps', 'Don Curry'), 2),
 (('John Witherspoon', 'Don Curry'), 2),
 (('Bruce Willis', 'Cole Hauser'), 2),
 (('Chris Rock', 'Kerry Washington'), 2),
 (('Jamie Foxx', 'Kerry Washington'), 2),

In [130]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

# Submission

In [131]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [132]:
# и убедиться что ни чего не пропустил)
len(answers)

27